{% extends template_path %}

{% block id %}{{ identifier }}{% endblock %}
{% block label %}<label for="{{ identifier }}">{{ title|raw }}</label>{% endblock %}

{% block field %}
    <div id="{{ identifier }}-wrap" class="dionysos-field text {{ type }}">
        {% if type == 'hidden' %}
            <input type="{{ type }}" name="{{ name }}" value="{{ value }}" />
        {% else %}
            {% if before is not empty %}
                <div class="text-prepend">{{ before|raw }}</div>
            {% endif %}

            <input type="{{ type }}" name="{{ name }}" id="{{ identifier }}" value="{{ value|raw }}" class="{{ type == 'range' or type == 'number' ? 'all-options' : 'large-text' }}{{ class }}"{{ attrs|raw }} />

            {% if type == 'range' %}
                <input type="number" id="{{ identifier }}-val" value="{{ value|raw }}" class="small-text"{{ attrs|raw }} />
            {% endif %}

            {% if after is not empty %}
                <div class="text-append">{{ after|raw }}</div>
            {% endif %}
        {% endif %}

        {% if settings.datalist is not empty %}
            <datalist id="{{ identifier }}-list">
                {% for item in settings.datalist %}
                    <option value="{{ item }}" />
                {% endfor %}
            </datalist>
        {% endif %}

        {% if type == 'range' %}
            <script>
                (function($) {
                    $("#{{ identifier }}-wrap").dionysosRange({
                        source: "#{{ identifier }}",
                        value: "#{{ identifier }}-val"
                    });
                })(jQuery);
            </script>
        {% endif %}
    </div>
{% endblock %}

{% block description %}
    {{ description|raw }}
{% endblock %}
