{% extends template_path %}

{% block id %}{{ identifier }}{% endblock %}
{% block label %}<label for="{{ identifier }}">{{ title|raw }}</label>{% endblock %}

{% block field %}
    <div class="olz-field text {{ type }}">
        {% if type == 'hidden' %}
            <input type="{{ type }}" name="{{ name }}" value="{{ value }}" />
        {% else %}
            {{ before|raw }}<input type="{{ type }}" name="{{ name }}" id="{{ identifier }}" value="{{ value|raw }}" class="regular-text {{ class }}" {{ attrs|raw }} />{{ after|raw }}

            {% if type == 'range' %}
                <output id="{{ identifier }}_output">{{ value }}</output>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block description %}
    {{ description|raw }}
{% endblock %}
